$primary: #c8a05c;
$secondary: #999999;
$success: #71ab54;
$info: #2e3a3e;
$warning: #ef9a1c;
$danger: #f44336;
$light: #F3E9DC;
$dark: #5E3023;

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~tabulator-tables/src/scss/tabulator_simple.scss';

#mynetwork {
    width: 100%;
    height: calc(100vh - 56px);
    min-height: 300px;
}
#mynetwork * {
    border: none;
    outline: none;
}

.legend-wrap {
    @extend .text-center, .position-absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 100%;
    transform: translate(0, -100%);
}
@include media-breakpoint-up(sm) {
    .legend-wrap {
        flex-direction: column;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
}
#legend1, #legend2, #legend3 {
    @extend .rounded, .m-1;
    display: inline-block;
    width: 8rem;
    border-width: 1px;
    border-style: solid;
}

#legend1 {
    border-color: #5E3023;
    background: #F3E9DC;
}

#legend2 {
    border-color: #F3E9DC;
    background: #5E3023;
    color: #F3E9DC;
}

#legend3 {
    border-color: #5E3023;
    background: #f3cd88;
}
