<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nem2 Peers Graph</title>
</head>
<body>
<%- include('_nav'); %>
<div id="loading" class="p-5">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="page-top" class="position-relative">
    <div id="mynetwork">
    </div>
    <div class="legend-wrap">
        <span id="legend1">
            Peer Node
        </span>
        <span id="legend2">
            Api Node
        </span>
        <span id="legend3">
            Peer&Api Node
        </span>
    </div>
</div>
</body>
</html>
