<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nem2 Peers Graph</title>
</head>
<body>
<%- include('_nav'); %>
<div class="container-fluid">
    <ul class="list-group mt-3" style="max-width: 500px">
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>All Node Number</span>
            <span id="all-node-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Peer Node (Role = 1)</span>
            <span id="role-1-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Api Node (Role = 2)</span>
            <span id="role-2-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Peer, Api (Role = 3)</span>
            <span id="role-3-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Voting (Role = 4)</span>
            <span id="role-4-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Peer, Voting (Role = 5)</span>
            <span id="role-5-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Api, Voting (Role = 6)</span>
            <span id="role-6-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
        <li class="list-group-item p-2 d-flex justify-content-between align-items-center">
            <span>Peer, Api, Voting (Role = 7)</span>
            <span id="role-7-num" class="badge badge-primary badge-pill text-white"></span>
        </li>
    </ul>
    <div id="nodes-table" class="mt-3">
        <div class="p-5">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
