<!DOCTYPE html>
<html lang="en">
<head>
    <% try { %>
        <%- include('_ga'); %>
    <% } catch(e) {} %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nem2 Peers Graph</title>
</head>
<body>
<%- include('_nav'); %>
<div class="container-fluid">
    <section class="mt-4">
        <h2>HTTPS REST</h2>
        <div id="https-table" class="mt-3">
            <div class="p-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <h2>HTTP REST</h2>
        <div id="http-table" class="mt-3">
            <div class="p-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
