@import "~bootswatch/dist/lumen/variables";
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/lumen/bootswatch";
@import '~tabulator-tables/src/scss/tabulator_simple.scss';

#mynetwork {
    width: 100%;
    height: calc(100vh - 56px);
    min-height: 300px;
}
#mynetwork * {
    border: none;
    outline: none;
}

.legend-wrap {
    @extend .text-center, .position-absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 100%;
    transform: translate(0, -100%);
}
@include media-breakpoint-up(sm) {
    .legend-wrap {
        flex-direction: column;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
}
#legend1, #legend2, #legend3 {
    @extend .rounded, .m-1;
    display: inline-block;
    width: 8rem;
    border-width: 1px;
    border-style: solid;
    color: $white;
}

#legend1 {
    border-color: #8a4121;
    background-color: #8a4121;
}

#legend2 {
    border-color: #728742;
    background-color: #728742;
}

#legend3 {
    border-color: #1c315d;
    background-color: #1c315d;
}
